########################################################
# MCU SETTINGS
########################################################
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

########################################################
# PRINTER SETTINGS & ADD-ONS
########################################################
[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 50
square_corner_velocity: 5.0
max_z_accel: 500

[firmware_retraction]
retract_length: 0.4
retract_speed: 40
unretract_extra_length: 0.1
unretract_speed: 30

[gcode_arcs]
resolution: 0.8

[bltouch]
sensor_pin: ^PC14
control_pin: PC13
x_offset: -24.0
y_offset: -13.0
#z_offset: 1.600
speed: 20
pin_move_time: 0.4
stow_on_each_sample: False
probe_with_touch_mode: True

[safe_z_home]
home_xy_position: 134,123
speed: 50
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 30,30         # Need to handle head distance with cr-touch (bl_touch)
mesh_max: 205,215.5       # Max probe range
mesh_pps: 3,3
probe_count: 12,12
algorithm: bicubic
zero_reference_position: 134,123
adaptive_margin: 5

########################################################
# SUPLEMENTARY CONFIGURATION
########################################################
[include start.cfg]
[include end.cfg]
[include macros.cfg]
[include display.cfg]
[include input_shaper.cfg]
#[include adxl.cfg]

########################################################
# STEPPER MOTORS
########################################################
[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 64
rotation_distance: 40
endstop_pin: !PA5
position_endstop: -6
position_min: -6
position_max: 230
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 64
rotation_distance: 40
endstop_pin: !PA6
position_endstop: -14
position_min: -14
position_max: 230
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 250
homing_speed: 4
second_homing_speed: 1
homing_retract_dist: 2.0

########################################################
# EXTRUDER AND HEATED BED
########################################################
[extruder]
max_extrude_only_distance: 105.0
max_extrude_cross_section: 2.0
pressure_advance: 0.155
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.44
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 27.142
#pid_Ki: 1.371
#pid_Kd: 134.351
min_temp: 0
max_temp: 260

[verify_heater extruder]
check_gain_time: 200
hysteresis: 5

[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 70 degree Celsius target
#pid_kp: 66.371
#pid_ki: 0.846
#pid_kd: 1301.702
min_temp: 0
max_temp: 100

########################################################
# COOLING FANS
########################################################
[heater_fan hotend_fan]
pin: PC1
max_power: 1.0
shutdown_speed : 0
cycle_time: 0.010
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0
heater:extruder
heater_temp : 50
fan_speed : 1.0

[fan]
pin: PA0

########################################################
# PINOUTS
########################################################
[output_pin beeper]
pin: PB0

[tmc2209 stepper_x]
uart_pin: PB12
run_current: 0.60
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[tmc2209 stepper_y]
uart_pin: PB13
run_current: 0.60
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[tmc2209 stepper_z]
uart_pin: PB14
run_current: 0.8
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[pause_resume]
recover_velocity: 25

[respond]

########################################################
# DEFAULT MACROS
########################################################

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z4.5 F300
    G90
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}
    G28 X Y
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    G1 Y{y_park} F2000
    M84
  CANCEL_PRINT_BASE

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.092
#*# pid_ki = 0.603
#*# pid_kd = 1649.079
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.159
#*# pid_ki = 1.767
#*# pid_kd = 120.282
#*#
#*# [bltouch]
#*# z_offset = 1.605
#*#
#*# [bed_mesh ender3_ready]
#*# version = 1
#*# points =
#*# 	0.307500, 0.212500, 0.102500, -0.002500, -0.122500
#*# 	0.180000, 0.075000, -0.015000, -0.110000, -0.230000
#*# 	0.030000, -0.065000, -0.157500, -0.232500, -0.337500
#*# 	-0.142500, -0.237500, -0.295000, -0.385000, -0.492500
#*# 	-0.275000, -0.337500, -0.442500, -0.537500, -0.662500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 205.0
#*# min_y = 30.0
#*# max_y = 215.48
#*#
#*# [input_shaper]
#*#
#*# [bed_mesh default_hotend_8x8]
#*# version = 1
#*# points =
#*# 	0.432500, 0.337500, 0.257500, 0.217500, 0.162500, 0.097500, 0.035000, -0.032500
#*# 	0.317500, 0.240000, 0.165000, 0.112500, 0.077500, 0.010000, -0.055000, -0.142500
#*# 	0.202500, 0.122500, 0.062500, 0.027500, -0.020000, -0.080000, -0.140000, -0.232500
#*# 	0.107500, 0.045000, -0.012500, -0.055000, -0.085000, -0.145000, -0.205000, -0.292500
#*# 	0.005000, -0.060000, -0.110000, -0.152500, -0.190000, -0.255000, -0.312500, -0.377500
#*# 	-0.065000, -0.125000, -0.180000, -0.225000, -0.262500, -0.305000, -0.382500, -0.440000
#*# 	-0.125000, -0.195000, -0.252500, -0.300000, -0.322500, -0.397500, -0.425000, -0.502500
#*# 	-0.152500, -0.220000, -0.272500, -0.312500, -0.350000, -0.415000, -0.475000, -0.540000
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 205.0
#*# min_y = 30.0
#*# max_y = 215.5
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.592521, 0.535021, 0.477521, 0.427521, 0.400021, 0.380021, 0.337521, 0.292521, 0.240021, 0.220021, 0.210021, 0.150021
#*# 	  0.502521, 0.467521, 0.417521, 0.372521, 0.325021, 0.312521, 0.270021, 0.215021, 0.172521, 0.162521, 0.135021, 0.085021
#*# 	  0.432521, 0.402521, 0.360021, 0.307521, 0.260021, 0.240021, 0.200021, 0.152521, 0.105021, 0.095021, 0.070021, 0.007521
#*# 	  0.380021, 0.342521, 0.302521, 0.250021, 0.205021, 0.192521, 0.145021, 0.102521, 0.060021, 0.045021, 0.020021, -0.044979
#*# 	  0.310021, 0.260021, 0.212521, 0.180021, 0.137521, 0.125021, 0.102521, 0.050021, 0.007521, -0.009979, -0.042479, -0.099979
#*# 	  0.247521, 0.210021, 0.162521, 0.130021, 0.107521, 0.082521, 0.047521, -0.002479, -0.037479, -0.054979, -0.077479, -0.137479
#*# 	  0.200021, 0.162521, 0.107521, 0.077521, 0.042521, 0.025021, 0.015021, -0.047479, -0.082479, -0.112479, -0.147479, -0.189979
#*# 	  0.147521, 0.115021, 0.072521, 0.037521, -0.002479, -0.012479, -0.047479, -0.107479, -0.129979, -0.144979, -0.184979, -0.224979
#*# 	  0.097521, 0.062521, 0.027521, -0.009979, -0.047479, -0.062479, -0.104979, -0.162479, -0.189979, -0.204979, -0.234979, -0.269979
#*# 	  0.075021, 0.035021, -0.004979, -0.047479, -0.077479, -0.104979, -0.139979, -0.172479, -0.202479, -0.239979, -0.254979, -0.314979
#*# 	  0.047521, 0.000021, -0.044979, -0.084979, -0.112479, -0.142479, -0.179979, -0.217479, -0.259979, -0.282479, -0.284979, -0.327479
#*# 	  -0.062479, 0.005021, -0.052479, -0.097479, -0.119979, -0.142479, -0.179979, -0.234979, -0.254979, -0.284979, -0.294979, -0.359979
#*# x_count = 12
#*# y_count = 12
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 204.9
#*# min_y = 30.0
#*# max_y = 215.46
