########################################################
# MCU SETTINGS
########################################################
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

########################################################
# PRINTER SETTINGS & ADD-ONS
########################################################
[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 50
square_corner_velocity: 5.0
max_z_accel: 500

#[firmware_retraction]
#retract_length: 1.4
#retract_speed: 40
#unretract_extra_length: 0.0
#unretract_speed: 30

#[gcode_arcs]
#resolution: 0.8

[bltouch]
sensor_pin: ^PC14
control_pin: PC13
x_offset: -24.0
y_offset: -13.0
#z_offset: 1.600
speed: 20
pin_move_time: 0.4
stow_on_each_sample: False
probe_with_touch_mode: True

[safe_z_home]
home_xy_position: 134,123
speed: 50
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 30,30         # Need to handle head distance with cr-touch (bl_touch)
mesh_max: 205,215.5       # Max probe range
probe_count: 5,5
algorithm: bicubic

#[display]

[display_status]

########################################################
# SUPLEMENTARY CONFIGURATION
########################################################
[include start.cfg]
[include end.cfg]
[include macros.cfg]
#[include display.cfg]
[include input_shaper.cfg]
#[include adxl.cfg]

########################################################
# STEPPER MOTORS
########################################################
[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 64
rotation_distance: 40
endstop_pin: !PA5
position_endstop: -6
position_min: -6
position_max: 230
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 64
rotation_distance: 40
endstop_pin: !PA6
position_endstop: -14
position_min: -14
position_max: 230
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 250
homing_speed: 4
second_homing_speed: 1
homing_retract_dist: 2.0

########################################################
# EXTRUDER AND HEATED BED
########################################################
[extruder]
max_extrude_only_distance: 100.0
pressure_advance: 0.155
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.44
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 27.142
#pid_Ki: 1.371
#pid_Kd: 134.351
min_temp: 0
max_temp: 260

[verify_heater extruder]
check_gain_time: 200
hysteresis: 5

[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 70 degree Celsius target
#pid_kp: 66.371
#pid_ki: 0.846
#pid_kd: 1301.702
min_temp: 0
max_temp: 100

########################################################
# COOLING FANS
########################################################
[heater_fan hotend_fan]
pin: PC1
max_power: 1.0
shutdown_speed : 0
cycle_time: 0.010
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0
heater:extruder
heater_temp : 50
fan_speed : 1.0

[fan]
pin: PA0

########################################################
# PINOUTS
########################################################
[output_pin beeper]
pin: PB0

[tmc2209 stepper_x]
uart_pin: PB12
run_current: 0.60
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[tmc2209 stepper_y]
uart_pin: PB13
run_current: 0.60
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[tmc2209 stepper_z]
uart_pin: PB14
run_current: 0.8
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[pause_resume]
recover_velocity: 25

[respond]

########################################################
# DEFAULT MACROS
########################################################

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z4.5 F300
    G90
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}
    G28 X Y
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    G1 Y{y_park} F2000
    M84
  CANCEL_PRINT_BASE


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.092
#*# pid_ki = 0.603
#*# pid_kd = 1649.079
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.159
#*# pid_ki = 1.767
#*# pid_kd = 120.282
#*#
#*# [bltouch]
#*# z_offset = 1.200
#*#
#*# [bed_mesh ender3_ready]
#*# version = 1
#*# points =
#*# 	0.307500, 0.212500, 0.102500, -0.002500, -0.122500
#*# 	0.180000, 0.075000, -0.015000, -0.110000, -0.230000
#*# 	0.030000, -0.065000, -0.157500, -0.232500, -0.337500
#*# 	-0.142500, -0.237500, -0.295000, -0.385000, -0.492500
#*# 	-0.275000, -0.337500, -0.442500, -0.537500, -0.662500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 205.0
#*# min_y = 30.0
#*# max_y = 215.48
#*#
#*# [input_shaper]
