########################################################
# MCU SETTINGS
########################################################
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

########################################################
# PRINTER SETTINGS & ADD-ONS
########################################################
[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 50
square_corner_velocity: 5.0
max_z_accel: 500

[firmware_retraction]
retract_length: 2.0
retract_speed: 40
unretract_extra_length: 0
unretract_speed: 30

[gcode_arcs]
resolution: 0.8

[bltouch]
sensor_pin: ^PC14
control_pin: PC13
x_offset: -24.0
y_offset: -13.0
#z_offset: 1.600
speed: 20
pin_move_time: 0.4
stow_on_each_sample: False
probe_with_touch_mode: True

[safe_z_home]
home_xy_position: 110,110
speed: 50
z_hop: 10
z_hop_speed: 10

[bed_mesh]
speed: 100
horizontal_move_z: 5
mesh_min: 30,30         # Need to handle head distance with cr-touch (bl_touch)
mesh_max: 205,215.5       # Max probe range
mesh_pps: 2,2
probe_count: 10,10
algorithm: bicubic
zero_reference_position: 110,110
adaptive_margin: 5

[exclude_object]

########################################################
# SUPLEMENTARY CONFIGURATION
########################################################
[include mainsail.cfg]
[include start.cfg]
[include end.cfg]
[include macros.cfg]
[include display.cfg]
[include input_shaper.cfg]
[include filament.cfg]
#[include adxl.cfg]

########################################################
# STEPPER MOTORS
########################################################
[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 64
rotation_distance: 40
endstop_pin: !PA5
position_endstop: -6
position_min: -6
position_max: 230
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 64
rotation_distance: 40
endstop_pin: !PA6
position_endstop: -14
position_min: -14
position_max: 230
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 250
homing_speed: 4
second_homing_speed: 1
homing_retract_dist: 2.0

########################################################
# EXTRUDER AND HEATED BED
########################################################
[extruder]
max_extrude_only_distance: 105.0
max_extrude_cross_section: 2.05
pressure_advance: 0.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.44
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 27.142
#pid_Ki: 1.371
#pid_Kd: 134.351
min_temp: 0
max_temp: 265

[verify_heater extruder]
check_gain_time: 200
hysteresis: 5

[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 70 degree Celsius target
#pid_kp: 66.371
#pid_ki: 0.846
#pid_kd: 1301.702
min_temp: 0
max_temp: 110

########################################################
# COOLING FANS
########################################################
[heater_fan hotend_fan]
pin: PC1
max_power: 1.0
shutdown_speed : 0
cycle_time: 0.010
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0
heater:extruder
heater_temp : 50
fan_speed : 1.0

[fan]
pin: PA0

########################################################
# PINOUTS
########################################################
[output_pin beeper]
pin: PB0

[tmc2209 stepper_x]
uart_pin: PB12
run_current: 0.60
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[tmc2209 stepper_y]
uart_pin: PB13
run_current: 0.60
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[tmc2209 stepper_z]
uart_pin: PB14
run_current: 0.8
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[pause_resume]
recover_velocity: 25

[respond]

########################################################
# DEFAULT MACROS
########################################################

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    {% set z = params.Z|default(10)|int %}
    {% if printer['pause_resume'].is_paused|int == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}
        SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
        SAVE_GCODE_STATE NAME=PAUSE
        BASE_PAUSE
        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}
            G91
            G1 Z{z} F900
        {% else %}
            { action_respond_info("Pause zhop exceeds maximum Z height.") }
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}
        G90
        G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} F6000
        SAVE_GCODE_STATE NAME=PAUSEPARK
        M104 S0
        SET_IDLE_TIMEOUT TIMEOUT=43200
    {% endif %}

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    {% set e = params.E|default(2.5)|int %}
    {% if printer['pause_resume'].is_paused|int == 1 %}
        ;SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
        {% if etemp > 0 %}
            M109 S{etemp|int}
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100
        G91
        M83
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
            G1 Z{zhop * -1} E{e} F900
        {% else %}
            G1 Z{zhop * -1} F900
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60
        BASE_RESUME
    {% endif %}

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    PRINT_END
    BASE_CANCEL_PRINT

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.092
#*# pid_ki = 0.603
#*# pid_kd = 1649.079
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.159
#*# pid_ki = 1.767
#*# pid_kd = 120.282
#*#
#*# [bltouch]
#*# z_offset = 1.550
#*#
#*# [input_shaper]
